<h1>Editing Bus Line</h1>

<div class="panel panel-default" style="padding: 10px;">
	<%= render 'form', bus_line: @bus_line %>
</div>

<%= link_to 'Line Info', @bus_line, :class => "btn btn-default"  %>
<%= link_to 'Back', bus_lines_path, :class => "btn btn-default"  %>
