<h1>Editing Part</h1>

<div class="panel panel-default" style="padding: 10px;">
<%= render 'form', part: @part %>
</div>

<%= link_to 'View', @part, :class => "btn btn-default" %>
<%= link_to 'Back', parts_path, :class => "btn btn-default" %>
