<h1>Editing Mechanic</h1>

<div class="panel panel-default" style="padding: 10px;">
<%= render 'form', mechanic: @mechanic %>
</div>

<%= link_to 'Mechanic Info', @mechanic, :class => "btn btn-default"  %>
<%= link_to 'Back', mechanics_path, :class => "btn btn-default"  %>
