<h1>Editing Bus Model</h1>

<div class="panel panel-default" style="padding: 10px;">
	<%= render 'form', bus_model: @bus_model %>
</div>

<%= link_to 'View', @bus_model, :class => "btn btn-default"  %>
<%= link_to 'Back', bus_models_path, :class => "btn btn-default"  %>
