
<p>
  <strong>Brand:</strong>
  <%= @bus_model.brand %>
</p>

<%= link_to 'Edit', edit_bus_model_path(@bus_model), :class => "btn btn-default" %>
<%= link_to 'Back', bus_models_path, :class => "btn btn-default"  %>
