   <h3>Visits By Day</h3>
  <div>
    <%= column_chart Bus.group_by_day_of_week(:created_at, format: "%a").count %>
  </div>

  <h3> Duration per Repair </h3>
<div>


  
    <canvas id="myChart"></canvas>
<!--     <canvas id="myChart"></canvas> -->

    <!-- Need to make duration work -->
  <!--   pwede ruby in javacript -->
  <!-- learn to put in an array. Once in n array then put inside javascript -->
  <!-- you can loop javscript -->
  </div>

  <script>
  <% duration = 0 %>
  <%@buses.each do |bus|%>
	  <% bus.repairs.each do |repair| %>
	  	<%= repair.datefinished.to_i - repair.datestarted.to_i %>
	  <% end %>
  <% end %>


  var js_array2 = <%= raw Bus.pluck(:bus_no).to_json %>;
  var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
	    labels: js_array2,
	    datasets: [{
	      label: 'Duration',
	    }, {
	      data: [  <%@buses.each do |bus|%>
	  <% bus.repairs.each do |repair| %>
	  	<%= repair.datefinished.to_i - repair.datestarted.to_i %>,
	  <% end %>
  <% end %>0]
	    }]
	  }
	});

  </script>
