<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= image_tag @driver.avatar.url(:medium) %>
  </div>
  <div class="col-xs-12 col-md-6">
    <h1><strong><%= @driver.lastname %></strong></h1>
    <br>
    <%= link_to 'Edit', edit_driver_path(@driver), :class => "btn btn-default" %>
	<%= link_to 'Back', drivers_path, :class => "btn btn-default"  %>
  </div>
</div>
