/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap-datetimepicker
 *= require font-awesome
  *= require bootstrap-material-design
 */

 
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";


body { 
		padding-top: 70px; 
    font-size: 16px;
	}


.navbar,
.navbar.navbar-default {
  background-color: #ffffff;;
  color: rgba(255,255,255, 0.84);
}

.navbar-default {
  background-color: #ffffff;
  border-color: #d5d5d5;
}
.navbar-default .navbar-brand {
  color: #3d3d3d;
   background-color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #940800;
   background-color: #ffffff;
}
.navbar-default .navbar-text {
  color: #3d3d3d;
}
.navbar-default .navbar-nav > li > a {
  color: #3d3d3d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #940800;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #940800;
  background-color: #d5d5d5;
   background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #940800;
  background-color: #d5d5d5;
}
.navbar-default .navbar-toggle {
  border-color: #d5d5d5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d5d5d5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3d3d3d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #3d3d3d;
}
.navbar-default .navbar-link {
  color: #3d3d3d;
}
.navbar-default .navbar-link:hover {
  color: #940800;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #3d3d3d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #940800;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #940800;
    background-color: #d5d5d5;
  }
}

/*
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
} */