<h1>Editing Bus</h1>

<div class="panel panel-default" style="padding: 10px;">
	<%= render 'form', bus: @bus %>
</div>

<%= link_to 'View', @bus, :class => "btn btn-primary"  %>
<%= link_to 'Back', buses_path, :class => "btn btn-primary"  %>
