<div class='nested-fields'>
    <div class="panel panel-default" style="padding:10px;">
    
    <div class="field">

      <%= f.input :part_id, label: "Part",
        collection: @parts,
        label_method: :to_name, 
        input_html: {class: 'part-selectize'} %>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="field">
             <%= f.input :cost %>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="field">
            <%= f.input :quantity %>
            </div>
        </div>
    </div>
    
    <%= link_to_remove_association "Remove Part", f, :class => "btn btn-danger" %>
    </div>
    
</div>
