<div class='nested-fields'>

  <div class="row"> 
    <div class="col-xs-6 col-md-6">  
    <div class="field">
      <%= f.input :part_id, label: "Part",
        collection: @parts,
        label_method: :to_name, 
        input_html: {class: 'part-selectize'} %>
        </div>
    </div>
   
        <div class="col-xs-3 col-md-3">
            <div class="field">
             <%= f.input :cost %>
            </div>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="field">
            <%= f.input :quantity %>
            </div>
        </div>

        <div class="col-xs-1 col-md-1">
            <%= link_to_remove_association "-", f, :class => "btn btn-danger btn-raised" %>
        </div>

        

    
    </div>
    
</div>
