<h1>Editing Repair</h1>

<div class="panel panel-default" style="padding: 10px;">
	<%= render 'form', repair: @repair %>
</div>

<%= link_to 'Repair Info', @repair, :class => "btn btn-default" %>
<%= link_to 'Back to Home', root_path, :class => "btn btn-default" %>
<%= link_to 'Back to Repairs', repairs_path, :class => "btn btn-default" %>
