<h1>Editing Repair</h1>
<div class="well" style="padding: 10px;">
	<%= render 'form', repair: @repair %>
</div>


<%= link_to 'Repair Info', @repair, :class => "btn btn-default" %>
<%= link_to 'Home', root_path, :class => "btn btn-default" %>
<%= link_to 'All Repairs', repairs_path, :class => "btn btn-default" %>
