<h1>Add Job Card</h1>

	<%= render 'formadd', repair: @repair %>


<%= link_to 'Home', root_path, :class => "btn btn-default" %>
<%= link_to 'All Repairs', repairs_path, :class => "btn btn-default" %>