<%= link_to 'Home', root_path, :class => "btn btn-default" %>
<%= link_to 'All Repairs', repairs_path, :class => "btn btn-default" %>
<h1>Add Job Card</h1>

<div class="well" style="padding: 10px;">
	<%= render 'formadd', repair: @repair %>
</div>

